<div class="comment_list">
  <%= form_with(model:[post, @comment], url: customer_post_comments_path, method: :post) do |f| %>
    <%= f.text_area :comment %>
    <%= f.hidden_field :post_id, value: post.id %>
    <%= f.submit 'コメントする' %>
  <% end %>
  <div class="comment_index">
    <h3>コメント一覧</h3>
      <% post.post_comments.each do |comment| %>
        <%= comment.comment %>
        <% if comment.customer_id == current_customer.id %>
          <%= link_to "削除", customer_post_comment_path(comment.id), method: :delete, remote: true, data: {confirm: '本当に削除しますか？'} %>
        <% end %>
      <% end %>
  </div>
</div>
