<%= render partial: 'layouts/flash' %>
<!--マイページ-->
<div class="container">
  <div class="row">
    <div class="col-3">
      <P><%= attachment_image_tag @customer, :profile_image, format: 'jpeg', size: "300x300" , fallback: "no_image.jpg"%>
      <P>氏名 : <%= @customer.last_name %> <%= @customer.first_name %></P>
      <P>カナ : <%= @customer.last_name_kana %> <%= @customer.first_name_kana %></P>
      <p><%= link_to "プロフィール編集", edit_customer_customer_path(@customer.id), class: "glyphicon glyphicon-pencil btn btn-success" %></p>
    </div>
    <div class="col-md-8 offset-md-1">
        <%= month_calendar(events: Post.where(customer_id: params[:id])) do |date, posts| %>
          <%= date.day %>
          <% posts.each do |post| %>
          <div>
            <%= post.name %>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
    <p>フォロー数:<%=link_to @followings.count, customer_following_path %></p>
    <p>フォロワー数:<%=link_to @customer.followers.count, customer_follower_path %></p>
    <p>いいね数:<%= link_to @customer.favorites.count, customer_customer_favorites_path(@customer) %></p>
</div>