<h1>登録情報</h1>

<div class="profile-container">
  <h3 class="profile-name"><%= @customer.last_name %> <%= @customer.first_name %></h3>
   <%= attachment_image_tag @current, :profile_image, :string, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
</div>

<% if @customer.id == current_customer.id %>
    <p><%= link_to "プロフィール編集", edit_customer_user_path(@customer.id), class: "glyphicon glyphicon-pencil btn btn-success" %></p>
<% end %>

<h1>マイページ</h1>
<div class = "container">
  <div class = "row">
      <div class = "col-3">
        <P>プロフィール画像 : <%= attachment_image_tag @customer, :profile_image %></P>
        <P>氏名 : <%= @customer.last_name %> <%= @customer.first_name %></P>
        <P>カナ : <%= @customer.last_name_kana %> <%= @customer.first_name_kana %> </P>
        <P>メールアドレス : <%= @customer.email %></P>
        <P>郵便番号 : <%= @customer.postal_code %></P>
        <P>住所 : <%= @customer.address %></P>
        <P>電話番号 : <%= @customer.telephone_number %></P>
      </div>
  </div>
</div>


