<!--<div class="profile-container">-->
  <!--<h3 class="profile-name"><%#= @customer.last_name %> <%#= @customer.first_name %></h3>-->
  　<%#= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
   <%#= attachment_image_tag (@profile_images, :profile_image, :string, 100, 100, format: 'jpeg', fallback: "no_image.jpg") %>
<!--</div>-->

<h1>マイページ</h1>
<div class = "container">
  <div class = "row">
      <div class = "col-3">
        <P>プロフィール画像 :<%= attachment_image_tag @customer, :profile_image, format: 'jpeg', size: "100x100" , fallback: "no_image.jpg"%>
        <P>氏名 : <%= @customer.last_name %> <%= @customer.first_name %></P>
        <P>カナ : <%= @customer.last_name_kana %> <%= @customer.first_name_kana %> </P>
        <P>メールアドレス : <%= @customer.email %></P>
        <P>郵便番号 : <%= @customer.postal_code %></P>
        <P>住所 : <%= @customer.address %></P>
        <P>電話番号 : <%= @customer.telephone_number %></P>
      </div>

      <% if @customer.id == current_customer.id %>
        <p><%= link_to "プロフィール編集", edit_customer_user_path(@customer.id), class: "glyphicon glyphicon-pencil btn btn-success" %></p>
        <P><%= link_to "退会する", customer_user_path(@customer.id), method: :delete %> </P>
      <% end %>
  </div>
</div>


