<%= render partial: 'layouts/flash' %>
<main>
  <h2 class="font">投稿一覧</h2>
  <!--検索機能-->
    <div class="search_text">
      <%= search_form_for @q, url: customer_search_path do |f| %>
      <%= f.label :genre_name_cont, '検索', class: "search_post"%>
      <%= f.search_field :genre_name_cont, placeholder: 'ジャンル検索', class: "search_host" %>
      <%= f.submit '検索', class: "search_button" %>
      <% end %>
    </div>
    <!--ランキング一覧遷移-->
    <div class="ranking_text">
      <i class="fas fa-crown">
        <%= link_to "ランキング", customer_ranking_path %>
      </i>
    </div>
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-3">
          <div class="post_index">
            <div class="post_index_list">
              <div><%= attachment_image_tag post, :post_image, format: 'jpeg', size: "200x200" , fallback: "no_image.jpg", class: "index_img" %></div>
              [<%= post.genre.try(:name) %>]
              <%= link_to post.name, customer_post_path(post) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div>
  <%= paginate @posts %>
  </div>
</main>