<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= attachment_image_tag @post, :post_image, format: 'jpeg', size: "400x200" , fallback: "no_image.jpg" %>
        <h1 class="blog_post_ttl">
          [<%= @post.genre.name %>] <%= @post.name %>
        </h1>
          <P>投稿内容→<%= @post.introduction %></P>
        <% if @post.customer_id == current_customer.id %>
          <%= link_to '編集', edit_customer_post_path(@post) %>
          <%= link_to "削除", customer_post_path(@post), method: :delete, data: {confirm: '本当に削除しますか？'} %>
        <% end %>
      <!--フォロー機能-->
      <div class="follow_<%= @post.id %>">
        <%= render 'customer/posts/follow', post: @post %>
      </div>
      <!--いいね機能-->
      <div class="post_<%= @post.id %>">
        <%= render 'customer/posts/like', post: @post %>
      </div>
      <!--コメント機能-->
      <div id="comments">
        <%= render 'customer/post_comments/comment', post: @post %>
      </div>
    </div>
  </div>
</div>
</div>