<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js"></script>
  </head>

  <!--会員側のheader-->
  <header id="header" class>
    <div class= "header-top-content">
      <%= link_to top_path, class:"header-title" do %>
        <i class="fas fa-heartbeat">S.Frail</i>
      <% end %>

    <div class= "header-inner">
      <nav class= "global_nav global_nav_pc">
          <ul class="page_nav">
            <% if customer_signed_in? %>
            <li>
              <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "logout dropdown-item" %>
            </li>
            <li>
              <%= link_to "top", top_path, class: "top dropdown-item" %>
            </li>
            <li>
              <%= link_to 'マイページ', customer_customer_path(current_customer), class: "myapge dropdown-item" %>
            </li>
            <li>
              <%= link_to '新規投稿', new_customer_post_path, class: "newpost dropdown-item" %>
            </li>
            <li>
              <%= link_to '投稿一覧', customer_posts_path, class: "post dropdown-item" %>
            </li>
            <li>
              <%= link_to 'サイト概要', homes_about_path, class: "about dropdown-item" %>
            </li>
            <li>
              <%= link_to "お問い合わせ", inquiry_path, class: "inquiry" %>
            </li>
            <li>
              <%= link_to "管理者", admin_session_path, class: "admin dropdown-item" %>
            </li>
            <li>
              <%= link_to "退会", customer_confirm_unsubscribe_path, class: "unsubscribe dropdown-item" %>
            </li>
            <% elsif admin_signed_in? %>
              <%= link_to "ジャンル", admin_genres_path, class: "genre" %>
              <%= link_to "ログアウト", admin_out_path, class: "logout" %>
              <%= link_to "会員一覧", admin_customers_path, class: "customer" %>
            <% else %>
              <%= link_to "新規登録", new_customer_registration_path, class: "signup" %>
              <%= link_to "ログイン", new_customer_session_path, class: "login" %>
              <%= link_to "topページ", top_path, class: "top" %>
              <%= link_to "管理者", admin_session_path, class: "admin" %>
            <% end %>
          </ul>
      </nav>
      </div>
      </div>
      <div class="centering_parent">
        <p class="header-center">〜健康寿命に革命を〜</p>
      </div>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer class="clearfix">
    <p class="footer-text">© All rights reserved by Infratop.Inc.</p>
  </footer>
</html>
